
li.nav-item{
position:relative;
left:68%;
margin-left:20px;
}

li.nav-item{
font-family:"MS Gothic"!Important;
}

li.nav-item:hover{
color:mediumpurple!important;
}

a.navbar-brand:hover{
cursor:pointer;
color:mediumpurple!important;
}

a.navbar-brand{
font-family:"MSGothic"!Important;
font-weight:bolder;
font-size:20px!important;
/*position:relative;*/
margin-left:44%;
}
