
.card .post-form {
    width: 500px;
}

.card {
    height: 450px!important;
}

//div.card-body {
//    height: 500px;
//}

.post-form p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #ffffff;
    font-family: Arial;
}

.img-upload-border {
    border: 4px dashed #fff;

}

input.img-upload {
    position: absolute;
    //margin: 10px;
    padding: 0;
    width: 500px;
    height: 205px;
    outline: none;
    opacity: 0;
}


.submitPost button:hover {
    background: #7C3B4F;
    cursor: pointer;
}

.img-upload:hover {
    cursor: pointer;
}

.post-form button:active {
    border: 0;

}


.submitPost {
    border-color: #7C3B4F;
}

.submitPost:hover {
    color: #005653;
}

.el-upload-dragger {
    width: 500px!important;
}
